streamlit
aiohttp
requests_cache
lxml
beautifulsoup4
pandas
spacy
nltk
numpy
fake-useragent
networkx
transformers
torch
tensorflow
wikidata
wikidataintegrator
scattertext
gensim
sentence-transformers
